{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}

    <!-- banner -->
    <div class="bg-cover bg-no-repeat bg-center py-16 pl-10"
         style="background-image: url('https://img.freepik.com/free-photo/cinema-seats-still-life_23-2148115439.jpg?size=626&ext=jpg&ga=GA1.1.1883078379.1700440830&semt=ais');">
        <div class="container">
            <h2 class="text-4xl font-semibold text-left mb-3 text-secondary ">Book cinema movie <br> tickets easily</h2>
            <h3 class="text-xl text-left mb-8 text-white ">
                Browse through our movie lists<br>
                and choose the cinema seats easily
            </h3>
            <div class="mt-12 space-x-3">
                <a href="/register" class="bg-primary border border-primary text-white px-8 py-2 mx-1 font-medium
                    rounded-md hover:bg-transparent hover:text-white hover:border-white">
                    Register for free
                </a>
                <a href="/category/top-rated" class="bg-primary border border-primary text-white px-8 py-2 mx-1 font-medium
                    rounded-md hover:bg-transparent hover:text-white hover:border-white">
                    Our top rated movies
                </a>
            </div>
        </div>
    </div>
    <!-- ./banner -->

    <section class="mb-14 mt-10" id="now-playing-section">
        <h1 class="mb-5 text-center font-sans text-3xl font-semibold text-gray-800">Now playing</h1>
        <div class="mx-auto grid max-w-screen-lg justify-center px-4 sm:grid-cols-2 sm:gap-4 sm:px-8 md:grid-cols-4">
            {% for movie in nowPlayingMovies %}
                {% include 'common/_movie_card.html.twig' %}
            {% endfor %}
        </div>
    </section>

    <section class="mb-4 mt-10 text-center ">
        <h1 class="mb-5 font-sans text-3xl font-semibold text-gray-800">Lorem ipsum, dolor sit amet consectetur</h1>
        <div class="mx-auto grid max-w-screen-lg justify-center px-4">
            <p class="mb-10 text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur quae
                asperiores error hic minima dicta. Assumenda, enim. Voluptate facere ea eveniet quaerat neque ipsam iste
                corrupti sapiente sed! Temporibus, magni?</p>

        </div>
    </section>

    <section class="mb-14 mt-10" id="popular-section">
        <h1 class="mb-5 text-center font-sans text-3xl font-semibold text-gray-800">Popular</h1>
        <div class="mx-auto grid max-w-screen-lg justify-center px-4 sm:grid-cols-2 sm:gap-4 sm:px-8 md:grid-cols-4">
            {% for movie in popularMovies %}
                {% include 'common/_movie_card.html.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
