{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section id="top-rated">
        <div class="mx-auto grid max-w-screen-lg justify-left px-4  ">
            <p class="mt-12 text-2xl font-semibold text-gray-800">{{ title }}</p>
            <hr class="mt-2 mb-12 border-t border-gray-300"/>
        </div>

        <div class="mx-auto grid max-w-screen-lg justify-center px-4 sm:grid-cols-2 sm:gap-4 sm:px-8 md:grid-cols-3">
            {% for movie in movies %}
                {% include 'common/_movie_card.html.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
